.hero {
  position: relative;
  padding-top: 148px;
}

.hero-gradient-orange {
  position: absolute;
  top: 163px;
  left: -42px;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 133, 0, 0.21) 0%, rgba(169, 88, 0, 0) 84%, rgba(153, 80, 0, 0) 100%);
}

.hero-gradient-teal {
  position: absolute;
  top: -37px;
  left: 935px;
  width: 500px;
  height: 450px;
  border-radius: 250px / 225px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 174, 142, 0.21) 0%, rgba(0, 174, 142, 0) 100%);
}

.hero-gradient-purple {
  position: absolute;
  bottom: -20px;
  right: -50px;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(160, 108, 213, 0.35) 0%, rgba(160, 108, 213, 0) 85%, rgba(160, 108, 213, 0) 100%);
}

.hero-badge-container {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-1rem);
}

.hero-badge-container.animate-delay {
  --animation-delay: 600ms;
}

.hero-badge {
  width: 500px;
  height: 75px;
  display: flex;
  gap: 14px;
  border-radius: 35px;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(255, 133, 0, 0.5) 0%, rgba(217, 141, 0, 0.5) 100%);
  align-items: center;
}

.hero-badge-icon {
  margin-top: 13px;
  width: 100px;
  height: 50px;
  margin-left: 16px;
}

.hero-badge-text {
  height: 23px;
  width: 341px;
  align-self: center;
  font-family: 'Inter', Helvetica;
  font-weight: 800;
  color: white;
  font-size: 19px;
}

.hero-title {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inria Sans', Helvetica;
  font-weight: 300;
  color: black;
  font-size: 100px;
  line-height: normal;
  transform: translateY(-1rem);
}

.hero-title.animate-delay {
  --animation-delay: 800ms;
}

.hero-subtitle {
  margin-top: 48px;
  text-align: center;
  width: 100%;
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inria Sans', Helvetica;
  font-weight: 700;
  color: rgba(110, 110, 110, 0.8);
  font-size: 24px;
  line-height: normal;
  transform: translateY(-1rem);
}

.hero-subtitle.animate-delay {
  --animation-delay: 1000ms;
}

.hero-search-container {
  margin-top: 60px;
  width: 100%;
  max-width: 653px;
  margin-left: auto;
  margin-right: auto;
  height: 74px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #4d4444;
  transform: translateY(-1rem);
  position: relative;
}

.hero-search-container.animate-delay {
  --animation-delay: 1200ms;
}

.hero-search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 24px;
  padding-right: 60px;
  font-family: 'Inria Sans', Helvetica;
  font-weight: 300;
  color: #6e6e6e;
  font-size: 24px;
  outline: none;
}

.hero-search-input::placeholder {
  color: #6e6e6e;
}

.hero-search-button {
  position: absolute;
  top: calc(50% - 17px);
  right: 30px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.hero-search-button:hover {
  opacity: 0.7;
}

.hero-search-icon {
  width: 36px;
  height: 36px;
  color: #6e6e6e;
}
